/* GERAL */
:root {
    --pink-strong: #9F4454;
    --black-strong: #000;
    --pink-soft: #D46A6A;
    --pink-ultrasoft: #FFAAAA;
    --font: 'New Tegomin', serif;;
}

html,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(var(--black-strong),var(--pink-strong));
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

section {
    display: flex;
}
/*  GERAL */

    #create img:first-of-type {
        width: 90px;
        height: 90px;
    }    

#win, #create {
    font-family: var(--font);
    color: white;
    height: 200px;
    width: 500px;
    border-radius: 5px;
    background: none;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#win.hidden, div#create.hidden {
    display: none;
}

    #win p, #create p {
        text-transform: uppercase;
        font-style: italic;
        text-align: center;
        margin-top: 0;
    }

    #win-confirm, #create-confirm {
        margin: 0 auto;
        width: 380px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        #win-confirm img, #create img:last-of-type {
            width: 60px;
            height: 90px;
        }

        #win-confirm #btnConfirm, #create #btnCreate  {
            font-variant: small-caps;
            font-style: italic;
            border: none;
            border-radius: 5px;
            color: white;
            background-image: linear-gradient(var(--pink-soft),var(--pink-ultrasoft));

            width: 150px;
            height: 40px;
            transition: 0.3s ease-in-out;
        }
    
.cell{
    width: 45px;
    height: 40px;
}

.wall {
    background: url(./pictures/wall.png);
    background-size: 45px 40px;
}

.end {
    background: url(https://media.tenor.com/images/84bd1f14c368f51f90aa808605d092fb/tenor.gif);
    background-size: 45px 40px;
}  

.path {
    background: url(https://media.tenor.com/images/284a5a34d8917da399fe65dde6c5d2c0/tenor.gif);
    background-size: 45px 40px;
}

#player {
    width: 100%;
    height: 100%;
}

/* EXTRA */
#win-confirm #btnConfirm:hover, #create #btnCreate:hover {
    transition: 0.3s ease-in-out;
    width: 160px;
    height: 45px;
}
/* EXTRA */